* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    background: #EDE6E3;
    height: 50px;
}

nav .logo {
    font-size: 20px;
    color: #36382E;
    font-weight: 700;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #F06449;
}

nav ul li:hover,
nav ul li.active {
    background-color: #5BC3EB;
}

.menu {
    display: none;
}

@media (max-width: 991px) {
    nav {
        padding: 0px 10px;
    }
    nav ul.links {
        position: absolute;
        top: 50px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 50px);
        background: #DADAD9;
        transition: 0.5s;
    }
    nav ul {
        display: block;
    }
    nav ul li {
        justify-content: center;
    }
    .menu {
        display: flex;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
    }
    nav ul li {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    nav ul.links.active {
        left: 0;
    }
}